@font-face {
    font-family: 'Fira Code';
    src: url('woff2/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

body  {
    display: grid;
    grid: 1fr 2fr 0.5fr  / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". . h h h . ."
    "m m m m m m m"
    ". b b b b b ."
    ;
    margin: -1px;
    font-family: Fira Code, arial, sans-serif;
}

/* Containers / Grid-Elements*/
#topContainer{
    grid-area: h;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
   
}
#midContainer{
    grid-area: m;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: space-around;
  
}
#botContainer{
    grid-area: b;
    display: flex;
    flex-wrap: wrap;
}


/* Top-Flex_Elements*/
#topImg{
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}
#topTextContainer{
    display: flex;
    flex-wrap: wrap;
    max-width: clamp(200px, 350px, 500px);
    max-height: clamp(200px, 350px, 500px);
    height: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}
#odin{
    text-decoration: none;
    color: black;
    transition: all 1s ease-out;
}

/* Mid-Flex_Elements*/
#first{
}
#second{

}
#third{
}
/* Bot-Flex_Elements*/
#botTextContainer{
    width: 60%;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;
    border: solid 5px white;
    border-radius: 30%;
    padding-top: 60px;
    transition: all 1s ease-out ;
}
#mail{
    text-decoration: none;
}
#botImage{
    border-radius: 25%;
}

/* Classes and hovers */
.gridTop{
    background-image: linear-gradient(to bottom, rgb(25, 146, 212, 1), rgb(25, 146, 212, 0));
}
.gridBot{
    background-color: rgb(25, 146, 212);
}
.img{
    max-width: clamp(200px, 350px, 500px);
    max-height: clamp(200px, 350px, 500px);
}
.projects{
    width: clamp(100px, 300px, 500px);
    height: clamp(100px, 400px, 500px);;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.projectImages{
    width: 150px;
    height: 150px;
    padding-top: 5px;
    transition: all 1s ease-out;
}
.projectImages:hover{
    outline: dotted 5px yellow;
    width: 300px;
    height: 300px;
    box-shadow:  0 0 5em black;;
}
.smicons {
    height: clamp(16px, 24px, 40px) ;
    width: clamp(16px, 24px, 40px);
    padding-left: 15px;
    padding-right: 15px;
    box-shadow:  0 0 1em black;
    border-radius: 40%;
    margin: 10px;
    transition: all 1s ease-out;
}
.smicons:hover{
    outline: dotted 5px yellow;
    height: 80px;
    width: 80px;
}
#botTextContainer:hover{
    outline: dotted 5px yellow;
    width: 70%;
    box-shadow:  0 0 5em black;;
}
.smiconsBot {
    height: clamp(16px, 24px, 40px) ;
    width: clamp(16px, 24px, 40px);
    padding-left: 15px;
    padding-right: 15px;
    box-shadow:  0 0 1em black;
    border-radius: 40%;
    margin: 10px;
    transition: all 1s ease-out;
}
.smiconsBot:hover{
    outline: dotted 5px red;
    box-shadow:  0 0 5em black;;
}
#mail{
    transition: all 1s ease-out;
}
#mail:hover{
    border: dotted 10px red;
    border-radius: 5px;
    box-shadow:  0 0 5em black;;
}
#odin:hover{
    border: dotted 1px red;
    border-radius: 5px;
    box-shadow:  0 0 5em black;;
}