/* #region table of content */
/*    
!                  Project Portfolio  Main-CSS-Stylesheet
?                                    powered by
!                                     Stefan Bartl
!                      (WKDSteVIE / WKDMinerva)
?                                          2021                                                                                                                                                                        
?                  ________________________________                                                                                                                                                                                                  
!                                   table of content

?                                     1) css-setup                                                                                                
?                                     2) general
?                                     3) header & navlist
?                                     4) first section: page introduction                        
?                                     5) second section: projects
?                                     6) footer                                                                                                                                                                                                                                                                                                                                                                                    */
/*#endregion*/

/* #region jobs to-do */
/*
!                           to-do 
todo    test the media querie in root if it is working that way
?                               finish
todo    Bonus-Jobs durchsehen!                                                                                                                                                                                             
*/
/* #endregion */

/*#region 1) css setup */

/*? ===  font(s) === */

/* futura */
@import url("https://use.typekit.net/izw3hmc.css");

/* #region setup & themes  */

:root {

  overflow-wrap: break-word;
  word-wrap: break-word;

  --text-main-font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal; 

  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.375rem;
  --fs-700: 2rem;

  /* ! test that out if it is working */
  @media (min-width: 45em){
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 2.75rem;
  --fs-700: 4.125rem;
  }

  /* ==================  
?    ===  Colour-Palette  ===
.     ================== */

  --main-black: hsl(0, 0%, 0%);
  --main-white: hsl(0, 0%, 100%);
  --main-red: hsl(0, 100%, 50%);
  --main-yellow: hsl(60, 100%, 50%);

  --prime-blueviolett: hsl(238, 56%, 19%);
  --prime-darkgrey: hsl(330, 2%, 17%);
  --prime-green: hsl(95, 63%, 36%);
  --prime-yellow-dark: hsl(43, 100%, 50%);
  --prime-orange: hsl(24, 100%, 50%);
  --prime-grapefruit: hsl(3, 83%, 64%);
  --prime-manner: hsl(10, 60%, 80%);
  --prime-lightgrey: hsl(71, 13%, 67%);
  --prime-pink: hsl(330, 100%, 50%);
  --prime-pinkviolett: hsl(300, 100%, 50%);
  --prime-intense-blue: hsl(240, 100%, 49%);
  --prime-pastell-blue: hsl(201, 79%, 46%);

}

:root.theme_dark{

/*? === colour === */
--background-colour: var(--main-black);
--counter-colour: var(--main-black);
--accent-colour-one: var(--prime-orange);


/*? === text === */
--text-main-colour: var(--main-white);
--text-optimal-width: clamp(45ch, 50%, 75ch);
--link-hover-color: var(--main-red);

}

:root.theme_orange{
  /* colour */
  --background-colour: var(--prime-orange);
  --counter-colour: var(--main-black);
  --accent-colour-one: var(--prime-pink);
  
  
  /* text  */
  --text-main-colour: var(--main-white);
  --text-optimal-width: clamp(45ch, 50%, 75ch);
  --link-hover-color: var(--main-red);

}

/* #endregion */

/* #region resets */

/* box-sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
picture {
  margin: 0;
}

/* set up the body*/
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who turned them off*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* #endregion */

/* #endregion */

/* #region 2) general */

body {
  background-color: var(--background-colour);
  color: var(--text-main-colour);
  font-family: var(--text-main-font-family);
  box-shadow: inset 0 0 1rem white;
}

/* theme implementation */
header,
footer,
section {
  padding: 1rem;
}

.section_introduction h2 {
  color: var(--accent-colour-one);
}

.headline_section_projects,
.headline_contact {
  color: var(--prime-pinkviolett);
}


/* links */
a {
  color: var(--accent-colour-one);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

/* negate link styling in navbar */
li a {
  color: white;
}

li a:hover {
  color: white;
}

/* summarized properties */
header,
nav,
ul,
.div_socialmedia,
.projects {
  display: flex;
}

.div_introduction_img , /* introduction elements */
.section_projects,  /* section projects elements */
.div_img_projects,
.div_projects_description ,
footer,  /* footer elements */
.div_socialmedia,
.div_myblog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* #endregion */

/* #region 3) header & navlist */

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--background-colour);
  margin-top: -.7rem;
  box-shadow: inset 0 .8rem 1rem white;
}

.navlist {
  width: 100%;
  align-items: center;
}

ul {
  gap: 2rem;
  width: 100%;
  font-size: var(--fs-700);
  font-weight: bold;
  margin-right: 2rem;
}

ul :nth-child(4) {
  margin-left: auto;
}

/* my icon on the right side */
.nav_mylogo {
  height: max(30px, 10vh);
  aspect-ratio: 1/1;
}

.nav_mylogo:hover {
    filter: brightness(0) saturate(100%) invert(50%) sepia(70%) saturate(4251%) hue-rotate(1deg) brightness(103%) contrast(105%);
}

/* navlist marker styling */
ul > li {
  padding-left: 0.4rem;
}

li::marker {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f054";
  font-size: var(--fs-500);
  transition: all 500ms;
}

li:hover::marker {
  color: var(--accent-colour-one);
  font-size: var(--fs-600);
}

/* navlist dynamic styling */
li {
  position: relative;
  cursor: pointer;
}

li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  border: solid 1px var(--accent-colour-one);
  transition: all 400ms ease;
}

li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

ul :nth-child(3):hover::after {
  width: 6.5rem;
}

/*#endregion */

/*#region 4) first section: page introduction */

.section_introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.headline {
  font-size: 5rem;
  text-align: center;
  padding-top: 8rem;
  margin-bottom: 3rem;
}

.div_introduction_img {
width: max(250px, 35vw);
}

.img_introduction {
  border-radius: 3rem;
  filter: drop-shadow(-2rem -1rem 3rem white);
}

.div_introduction_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50ch;
  max-width: 75ch; 
  font-size: var(--fs-500);
}

.div_introduction_description > * {
  padding-inline: 1rem;
}

.div_introduction_description h2{
text-align: center;
}

.div_introduction_description p {
  align-items: center;
}

/*#endregion */

/*#region 5) seccond section: projects  */

.section_projects {
  gap: 5rem;
}

.headline_section_projects {
  font-size: 4rem;
  background-color: var(--counter-colour);
}

.projects {
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.images_projects {
  width: 300px;
  aspect-ratio: 1/1;
  filter: drop-shadow(0rem -1rem 3rem white);
}

.div_projects_description {
  flex-grow: 2;
  width: 75ch;
  font-size: var(--fs-600);
}

.div_projects_description > * {
  width: var(--text-optimal-width);
}

.projects a {
  align-self: center;
  font-size: var(--fs-600);
}

/*#endregion */

/*#region 6) footer */

footer {
  gap: 2rem;
}

.headline_contact {
  min-width: 100%;
  text-align: center;
  font-size: 3rem;
  background-color: var(--counter-colour);
}

.wrapper_socialicons {
  display: flex;
  gap: 1rem;
}

.img_socialmedias {
  width: 2rem;
  height: 2rem;
}

.div_socialmedia :nth-child(6) {
  filter: invert(1);
}

.div_myblog a {
  width: 50%;
}

/* #endregion */

/* #region bonus jobs and ideas for future */
/*
todo  neues CSS-Default-Layout als Template abspeichern!
*/
/* #endregion */
