/* #region Table of Content */
/*    
!                  Project Portfolio  Main-CSS-Stylesheet
?                                    powered by
!                                     Stefan Bartl
!                      (WKDSteVIE / WKDMinerva)
?                                          2021                                                                                                                                                                        
?                  ________________________________                                                                                                                                                                                                  
!                                   table of content

?                                     1) css-setup                                                                                                
?                                     2) general
?                                     3) header & navlist
?                                     4) first section: page introduction                        
?                                     5) second section: projects
?                                     6) section-contacts              
?                                     7) about page                                                                                                                                                                                                                                                                                                                                                                      */
/*#endregion*/

/* #region jobs to-do */
/*
!                           to-do 
todo    handle navbar overflow on small screens!
todo    project-headline sticky position doesnt work so good on small display.
todo    Bei den Projekten: Das Position der Beschreibung von der Länge des Links bhängt ist alles andere als optimal! 
todo    about page: Mach eine Fotoserie daraus mit hovers, damit sich da was tut. 
todo    about page Map muss gemacht werden (Farbanpaasung + Marker in Wien [vielleicht mit hover ])
todo    Bei translate ändert sich die Textlänge stark, dass bitte beim Landkarten re-design berücksichtigen (Größe)!
todo    Themes einrichten, wechsel ermöglichen.
todo    Finish sheet: Regions, Topics
todo    Finish Table of content. All commented out? Summed all possible rules?                                                                                                                                                                                
*/      
/* #endregion */

/*#region CSS-Setup */

/*? ===  font(s) === */
/* futura */
@import url("https://use.typekit.net/izw3hmc.css");

/* #region setup & themes  */

:root {

  overflow-wrap: break-word;
  word-wrap: break-word;

  --text-main-font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal; 

  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.375rem;
  --fs-700: 2rem;

  /* ! test that out if it is working */
  @media (min-width: 45em){
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 2.75rem;
  --fs-700: 4.125rem;
  }

  /* ==================  
?    ===  Colour-Palette  ===
.     ================== */
  --wkd-black: rgb(0, 0, 0);
  --wkd-darkgrey: rgb(29, 29, 29);
  --wkd-midgrey: rgb(61, 61, 61);
  --wkd-grey: rgb(107, 106, 106);
  --wkd-lightgrey: rgb(178, 182, 160);
  --wkd-white: rgb(255, 255, 255);
  --wkd-red: rgb(255, 0, 0);
  --wkd-green: rgb(82, 150, 34);
  --wkd-intense-blue: rgb(0, 0, 250);
  --wkd-pastell-blue: rgb(25, 145, 210);
  --wkd-torquise: rgb(8, 253, 216);
  --wkd-blueviolett: rgb(21, 23, 76);
  --wkd-yellow: rgb(255, 255, 0);
  --wkd-yellow-dark: rgb(255, 183, 0);
  --wkd-orange: rgb(255, 102, 0); /* filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%); */
  --wkd-grapefruit: rgb(239, 95, 87);
  --wkd-pink: rgb(255, 0, 128);
  --wkd-pinkviolett: rgb(255, 0, 255);  /* filter: brightness(0) saturate(100%) invert(19%) sepia(63%) saturate(4179%) hue-rotate(293deg) brightness(123%) contrast(136%); */
  --wkd-manner: rgb(235, 184, 173);
}

:root.theme_dark{

/*? === design === */
--main-colour: var(--wkd-darkgrey);
--main-headlines: var(--wkd-grey);
--counter-colour: var(--wkd-black);
--accent-colour-one: var(--wkd-orange);
--design-strokes-colour: var(--main-headlines);
--design-strokes-accent-colour: var(--wkd-pinkviolett);
--shadows: var(--wkd-white);

/*? === text === */
--text-main-colour: var(--wkd-white);
--text-optimal-width: clamp(45ch, 50%, 75ch);
--link-hover-color: var(--wkd-red);

}

:root.theme_orange{

/*? === design === */
  --main-colour: var(--wkd-orange);
  --counter-colour: var(--wkd-black);
  --accent-colour-one: var(--wkd-pink);
  --design-strokes-colour: var(--main-headlines);
  --shadows: var(--wkd-white);
  
/*? === text === */
--text-main-colour: var(--wkd-white);
  --text-optimal-width: clamp(45ch, 50%, 75ch);
  --link-hover-color: var(--wkd-red);
}

/* #endregion */

/* #region resets */

/* box-sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
picture {
  margin: 0;
}

/* set up the body*/
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who turned them off*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* #endregion */

/* #endregion */

/* #region General-Design */

body {
  background-color: var(--main-colour);
  color: var(--text-main-colour);
  font-family: var(--text-main-font-family);
}

/* theme implementation */
header,
.section-contacts,
section {
  padding: 1rem;
}

h1, h2 {
  overflow-wrap: break-word;
}

h1 {
  color: var(--accent-colour-one);
  padding-right: 1rem;
  font-size: 4.5vw;
}

h2 {
  color: var(--accent-colour-one);
}

h3 {
  text-transform: uppercase;
}

.introduction-headline-outro {
  color: var(--wkd-lightgrey);
}

/* links */
a {
  text-decoration: none;
}

/* summarized properties */
header,
nav,
ul,
.div-socialmedia {
  display: flex;
}

.div-image-introduction , /* introduction elements */
.section-contacts,  /* section-contacts elements */
.div-socialmedia,
.div-myblog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* #endregion */

/* #region header */

header {
  display: flex;
  width: 100%;
  line-height: 1;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--main-colour);
    /* to even out the navlist background: */
}

.navlist {
  display: flex;
  width: 100%;
  margin-right: 2rem;
  align-items: center;
  position: relative;
}

.navlist::after {
  content: "";
  border: solid 2px var(--design-strokes-colour);
  position: absolute;
  left: 1rem;
  bottom: -1rem;
  width: 100%;
  transition: all 2s ease;
}

ul {
  gap: 3rem;
  width: 100%;
  font-size: var(--fs-600);
  font-weight: bold;
  margin-right: 2rem;
}

/* navbar text */
li a {
  color: var(--text-main-colour);
}

/* last navbar item */
ul :nth-child(5) {
  margin-left: auto;
  font-size: small;
  align-self: center;
  color: var(--text-main-colour);
}

ul :nth-child(5):hover::marker {
  font-size: var(--fs-500);
}

/* navlist marker styling */
ul > li {
  padding-left: 0.4em;
}

li::marker {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f054";
  font-size: var(--fs-500);
  transform: scale(1);
  transition: all 1500ms;
}

/* navlist dynamic hover styling */

li {
  position: relative;
  cursor: pointer;
}

li:hover::marker {
  color: var(--accent-colour-one);
}

/*#endregion */

/* #region index.html */

/* #region home: section: section-introduction */

.section-introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  padding-right: 2.5rem;
  min-height: 100vh;
}

/* #region introduction-headline */

/* ? introduction- mylogo */
.introduction-mylogo {
  height: max(100px, 10vh);
  aspect-ratio: 1/1;
  padding-top: 5.5rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

/* ? headline */

.introduction-headline {
  display: flex;
  width: 100%;
  height: fit-content;
}

.headline {
  padding-top: 5rem;
  margin-left: auto;
  margin-bottom: 4rem;
  position: relative;
  background-color: var(--main-colour);
  z-index: 3;
}

/* #endregion */

/* #region introduction-content */

.introduction-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* ? introduction-image */

.div-image-introduction {
width: max(300px, 30vw);
}

.image-introduction {
  border-radius: 3rem;
  filter: drop-shadow( -1rem 1rem 2rem white);
}

/* ? introduction-text */

.div-introduction-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50ch;
  max-width: 75ch; 
  font-size: var(--fs-500);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.introduction-headline-one {
position: relative;
margin-block: 2rem;
}

.div-introduction-description p {
  align-items: center;
  padding-left: 3rem;
}

.introduction-headline-outro {
  padding-left: 3rem;
  margin-top: 1rem;
  text-align: center;
  font-size: var(--fs-600);
}

/* #endregion */

/*#endregion */

/* #region home: section: projects  */

/* #region projects-headline */

.div-headline-section-projects {
  width: 100%;
  display: flex;
  margin-top: 5vh;
  margin-bottom: 10vh;
  position: sticky;
  top: 5.6rem;
  z-index: 2;
}

.headline-section-projects {
  font-size: 4rem;
  margin-left: auto;
  margin-right: 1rem;
  padding-right: 1rem;
  position: relative;
}

/* #endregion */

/* #region projects */

/* ? section(s) */

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  filter: blur(1rem);
  transition: all 500ms;
}

.project-one,
.project-two,
.project-three,
.project-four {
  margin-bottom: 10rem;
}

.projects:hover {
  filter: blur(0);
}

/* ? projects-image */

.image-projects {
 filter: drop-shadow(0rem -1rem 3rem white);
}

/* ? projects-div's */

.div-projects-image {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

.div-projects-description {
  font-size: var(--fs-600);
  width: var(--text-optimal-width);
  margin-left: auto;
  margin-right: auto;
}

.projects h3 {
  width: fit-content;
}

.projects p {
  padding-left: 3rem;
}

/* ? projects links */

.projects a {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: var(--fs-600);
  font-weight: bold;
  position: relative;
}

.project-one a,
.project-three a {
  color: var(--wkd-red);
}

.project-two a {
  color: var(--wkd-intense-blue);
}

.project-four a {
  color: var(--wkd-white);
}

/* #endregion */

/*#endregion */

/* #endregion */ 

/* #region about.html */

/* #region about: headline */

/* ? about-headline */
.div-about-headline {
  display: flex;
  padding-top: 6rem;
  margin-right: 2rem;
 }
 
 .about-headline {
   margin-left: auto;
   margin-right: .5rem;
   background-color: var(--main-colour);
   position: relative;
   z-index: 3;
 }
 
 /* ? about-mylogo */
 .about-mylogo {
   height: max(100px, 10vh);
   aspect-ratio: 1/1;
   margin-left: 2rem;
   margin-top: -.5rem;
   padding-top: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
   position: relative;
   background-color: var(--main-colour);
   z-index: 3;
 }
 
 /* #endregion */

/* #region about: section-about */ 

.section-about{
  width: 100%;
  padding-bottom: 3rem;
  padding-left:  2rem;
  padding-right: 2rem;
  display: flex;
}

.about-div-description {
  width: var(--text-optimal-width);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.about-div-description  h2 {
  width: max-content;
  position: relative;
}

.about-div-description :nth-child(3),
.about-div-description :nth-child(5),
.about-div-description :nth-child(7) {
  margin-top: 3rem;
}

.about-div-description  p {
  padding-left: 3rem;
}

.about_paragraph_four{
  font-weight: bold;
  margin-left: 2rem;
  text-align: center;
  width: 80%;
}

.about-signature {
  width: 50%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  filter: ;
}

/* #endregion */

/* #region about: map */

.about-div-map {
  margin-top: 4rem;
}

.div-map {
  position: relative;
}

.about-image-map {
  filter: grayscale(.8);
}

.about-image-donaumarina {
  width: clamp(100px, 30%, 25vh);
  aspect-ratio: 1/1;
  z-index: 1;
  position: absolute;
  top: -.5rem;
  left: -.5rem;
  border-radius: 8%;
  border: dashed 5px var(--accent-colour-one);
  border-width: 10px;
  border-style: ridge;
  box-shadow: 0 0 .5rem var(--shadows);
}

/* #endregion */

/* #region about: section contact */

.section-contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.headline-contact {
  align-self: flex-end;
  font-size: 3rem;
  position: relative;
}

.wrapper-socialicons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.img-socialmedia {
  width: 2rem;
  height: 2rem;
}

/* ? invert the all black github logo to white*/

.div-socialmedia :nth-child(6) {
  filter: invert(1);
}

/* ? E-mail me link */
.myemail {
  color: var(--accent-colour-one);
}

.myemail:hover {
  color: var(--link-hover-color);
}

/* #endregion */

/* #endregion */ 

/* #region Pseudoelements */

/* #region index.html */

/* #region section intro */

/* ? headline */ 

.introduction-mylogo::after {
  content: "";
  border: solid 2px var(--design-strokes-colour);
  position: absolute;
  left: 0;
  bottom: -4.2rem;
  height: 100%;
  transition: all 1.5s ease;
}

.introduction-mylogo::before{
  position: absolute;
  content: "";
  border: solid 2px var(--design-strokes-colour);
  bottom: -4.2rem;
  left: 0;
  width: 20%;
  transition: all 1s ease;
}

.headline::before {
  content: "";
  border: solid 2px var(--design-strokes-colour);
  position: absolute;
  bottom: 0;
  right: -.5rem;
  width: 50%;
  transition: all 2s ease;
}

.headline::after {
  content: "";
  border: solid 2px var(--design-strokes-colour);
  position: absolute;
  bottom: 0;
  right: -.5rem;
  height: 0%;
  transition: all 2s ease;
}

/* ? page introduction-content */

.div-introduction-description::before {
  position: absolute;
  content: "";
  border: solid 1px var(--design-strokes-colour);
  bottom: -.2rem;
  right: 0;
  height: 2rem;
  transition: all 1s ease;
}

.div-introduction-description::after {
  position: absolute;
  content: "";
  border: solid 1px var(--design-strokes-colour);
  bottom: 0;
  right: -.3rem;
  width: 2rem;
  transition: all 1s ease;
}

/* ? intruduction-text */ 

.introduction-headline-one::before {
  position: absolute;
  content: "";
  border: solid 1px var(--design-strokes-colour);
  top: -.5rem;
  left: -1.5rem;
  width: 2rem;
  transition: all 1s ease;
}

.introduction-headline-one::after {
  position: absolute;
  content: "";
  border: solid 1px var(--design-strokes-colour);
  top: -1rem;
  left: -1rem;
  height: 2rem;
  transition: all 1s ease;
}

/* #endregion*/

/* #region section projects */

/* ? section: introduction */

.div-headline-section-projects::before {
  position: absolute;
  content: "";
  border: solid 2px var(--design-strokes-colour);
  top: 0;
  right: 1rem;
  width: 20%;
  transition: all 2s ease;
 }

.headline-section-projects::before {
  position: absolute;
  content: "";
  border: solid 2px var(--design-strokes-colour);
  bottom: 0;
  right: 0;
  height: 150vh;
  transition: all 2s ease;
 }
 
.headline-section-projects::after {
 position: absolute;
 content: "";
 border: solid 2px var(--design-strokes-colour);
 bottom: 0;
 right: 0;
 width: 50%;
 transition: all 2s ease;
}
    
/* #endregion */ 

/* #endregion */

/* #region about.html */

/* ? mylogo */

.about-mylogo::before{
  position: absolute;
  content: "";
  border: solid 2px var(--design-strokes-colour);
  bottom: 0;
  left: 0;
  width: 20%;
  transition: all 1s ease;
}

.about-mylogo::after {
  content: "";
  border: solid 2px var(--design-strokes-colour);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  transition: all 1.5s ease;
}

/* ? about headline */

.about-headline::before {
  content: "";
  border: solid 2px var(--main-headlines);
  position: absolute;
  bottom: 0;
  right: -.5rem;
  width: 50%;
  transition: all 2s ease;
}

.about-headline::after {
  content: "";
  border: solid 2px var(--main-headlines);
  position: absolute;
  bottom: 0;
  right: -.5rem;
  height: 0%;
  transition: all 2s ease;
}

/* ? text headlines */

.about-headline-two::before { 
  position: absolute;
  content: "";
  left: -1rem;
  bottom: 0;
  height: 100vh;
  border: solid 2px var(--design-strokes-colour);
  transition: all 2s ease;
}

.about-headline-three::before { 
  position: absolute;
  content: "";
  left: -1rem;
  bottom: 0;
  height: 100vh;
  border: solid 2px var(--design-strokes-colour);
  transition: all 2s ease;
}

/* ? strokes left-side  */

.about-headline-one::before { 
  position: absolute;
  content: "";
  left: -1rem;
  bottom: 0;
  height: 100vh;
  border: solid 2px var(--design-strokes-colour);
  transition: all 2s ease;
}

/* ? strokes to underline h2 */

.about-div-description  h2::after {
  position: absolute;
  content: "";
  left: -1rem;
  bottom: 0;
  width: calc(100% + 1rem);
  border: solid 1px var(--design-strokes-colour);
  transition: all 2s ease;
}

/* ? map circles */

.div-map::after {
  content: "";
  position: absolute;
  top: 43%;
  right: 38%;
  width: 2rem;
  height: 2rem;
  border: solid 3px var(--accent-colour-one);
  border-style: dashed;
  border-radius: 50%;
  transition: all 500ms;
}

/* ? contact headline */

.headline-contact::before {
  position: absolute;
  content: "";
  border: solid 2px var(--design-strokes-colour);
  bottom: 0;
  right: -1rem;
  width: 50%;
  transition: all 2s ease;
}

.headline-contact::after {
  position: absolute;
  content: "";
  border: solid 2px var(--design-strokes-colour);
  bottom: 0;
  right: -1rem;
  height: 200vh;
  transition: all 1.5s ease;
}

/* #endregion */

/* #endregion */

/* #region Transitions */

/* #region header */

/* ? navlist transition */

header:hover .navlist::after{
  left: 10%;
  width: 80%;
  border-color: var(--design-strokes-accent-colour);
}

/* #endregion */ 

/* #region index.html */

/* #region introduction */

/* ? mylogo transition */

.introduction-mylogo:hover::after{
  height: 30%;
  border-color: var(--design-strokes-accent-colour);
}

.introduction-mylogo:hover::before{
  width: 30%;
  border-color: var(--design-strokes-accent-colour);
}

/* ? headline transition */

.headline:hover::before {
  width: 30%;
  border-color: var(--design-strokes-accent-colour);
}

.headline:hover::after {
  height: 100%;
  border-color: var(--design-strokes-accent-colour);
}

/* ? introduction-content transitions */

.introduction-content:hover .div-introduction-description::before {
  border-color: var(--design-strokes-accent-colour);
  bottom: 0;
  right: 0;
  height: 2rem;
}

.introduction-content:hover .div-introduction-description::after {
  border-color: var(--design-strokes-accent-colour);
  bottom: 0;
  right: 0;
  width: 2rem;
}

.introduction-content:hover  .introduction-headline-one::before {
  border-color: var(--design-strokes-accent-colour);
  top: -.5rem;
  left: -1rem;
  width: 2rem;
}

.introduction-content:hover .introduction-headline-one::after {
  border-color: var(--design-strokes-accent-colour);
  top: -.5rem;
  left: -1rem;
  height: 2rem;
}

/* #endregion */ 

/* #region projects */

/* ? design strokes */

.section-projects:hover .div-headline-section-projects:before {
  border-color: var(--design-strokes-accent-colour);
  top: 0;
  right: 1rem;
  width: 3rem;
 }

 .section-projects:hover .headline-section-projects::before {
  border-color: var(--design-strokes-accent-colour);
 }

 .section-projects:hover .headline-section-projects::after {
   border-color: var(--design-strokes-accent-colour);
  bottom: 0;
  right: 0;
  width: 25%;
 }

/* ? a links */

.projects a:hover{
  transition: all 1000ms ease;
  }

  .projects a:hover{
  transform: scale(1.2);
  }

/* #endregion */ 

/* #endregion */

/* #region about.html */

/* ? my logo  */

.about-mylogo:hover::before {
  width: 30%;
  border-color: var(--design-strokes-accent-colour);
}

.about-mylogo:hover::after {
  height: 30%;
  border-color: var(--design-strokes-accent-colour);
}

/* ? page headline */

.about-headline:hover::before { 
  border-color: var(--design-strokes-accent-colour);
  width: 30%;
}

.about-headline:hover::after { 
  border-color: var(--design-strokes-accent-colour);
  height: 100%;
  }

  /* ? left side to top stroke */
.about-div-description:hover  .about-headline-three::before {
  border-color: var(--design-strokes-accent-colour);
}

/* ? underline h2 left */
.about-div-description:hover  h2::after  {
border-color: var(--design-strokes-accent-colour);
width: 2rem;
}

/* ? map circles */
.div-map:hover::after {
  border-color: var(--wkd-pinkviolett);
  transform: scale(2);
}


/* ? contact headline */

.section-contacts:hover .headline-contact::before {
  border-color: var(--design-strokes-accent-colour);
  width: 3rem;
}

.section-contacts:hover .headline-contact::after {
  border-color: var(--design-strokes-accent-colour);
  height: 3rem;
}

/* ? social media icons */

.img-socialmedia {
  transition: all 500ms ease;
  filter: grayscale(0.8);
}

.img-socialmedia:hover {
  transform: scale(2);
  filter: grayscale(0);
}

/* #endregion */ 

/* #endregion */

/* #region Media Queries */
/* ? small devices */
@media (max-width: 767.98px) {

  /* ? shrink headlines*/
  .headline,
  .about-headline {
    font-size: var(--fs-700);
  }

}

/* #endregion */