/* #region table of content */
/*    
!                             Project  Main-CSS-Stylsheet
?                                    powered by
!                                     Stefan Bartl
!                      (WKDSteVIE / WKDMinerva)
?                                          2021                                                                                                                                                                        
?                  ________________________________                                                                                                                                                                                                  
!                                   table of content

?                                     1) general                                                                                                
                                                                                                                                                                                                                                                                                                                                                                                                   */
/*#endregion*/

/* #region jobs to-do */
/*
!                           to-do 
todo    default
?                               finish
todo    brauchst du die sm, header icon ids? 
todo                                                                                                                                                                                             
*/
/* #endregion */

/* #region 1) general */

:root {
     /*   ==================  
?         ===  Colour-Palette  ===
:          ==================  */

  --main-black: hsl(0, 0%, 0%);
  --main-white: hsl(0, 0%, 100%);
  --main-red: hsl(0, 100%, 50%);
  --main-yellowr: hsl(60, 100%, 50%);

  --prime-blueviolett: hsl(238, 56%, 19%);
  --prime-darkgrey: hsl(330, 2%, 17%);
  --prime-green: hsl(95, 63%, 36%);
  --prime-yellow: hsl(43, 100%, 50%);
  --prime-manner: hsl(10, 60%, 80%);
  --prime-lightgrey: hsl(71, 13%, 67%);
  --prime-pink: hsl(330, 100%, 50%);
  --prime-pinkviolett: hsl(300, 100%, 50%); 
  --prime-intense-blue: hsl(240, 100%, 49%);
  --prime-pastell-blue: hsl(201, 79%, 46%);

  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* #region Resets */

/* box-sizing */
*, *::before, *::after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
} 

/* margins */
body,
h1, h2, h3, h4, h5, h6,
figure, picture {
  margin: 0;
}

/* set up the body*/
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */ 
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who turned them off*/
@media (prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* #endregion */

/*#region fonts */

/* Page: Sans-serif,   font-family: "Anton", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");


/* Headlines: Handwriting, font-family: "Comforter Brush", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");

/* #endregion */

/* #endregion */

/* #region page layout */

body {
  background-color: black;
  color: white;
}

header,
#header_sectionLeft,
nav,
ul,
#div_socialmedia,
#section_introduction,
.projects {
  display: flex;
}

/* navlist */

#navlist {
  width: 100%;
}

ul {
  gap: 2rem;
  width: 100%;
}

ul  :nth-child(2){
  flex-grow: 1;
}

ul :nth-child(3){
  margin-right: 2rem;
}

/* first section: page introduction */ 

#div_introduction{
  gap: 2rem;
}

.div_introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div_introduction > * {
  width: clamp(45ch, 50%, 75ch)
}

.div_descs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#div_introduction_img{
  display: flex;
  min-width: 50%;
  justify-content:flex-end;
  align-items: center;
  filter:drop-shadow(-2rem -1rem 3rem white )
}

#img_introduction{
  height: 60%;
  aspect-ratio: 1/1;
  border-radius: 3rem;;
}

/* seccond section: projects  */ 

.div_img_projects {
  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #endregion */

/* #region typographie*/

li {
  list-style-type: none;
}

.div_descs > * {
  width: clamp(45ch, 50%, 75ch)
}

#p_translation {
  font-size: x-small;  
}

#headline_projects{
  position: relative;
  text-align: center;
  font-size: xx-large;
  background-color: darkgray;
}

/* #endregion */

/* #region */

/* #endregion */

/* #region media */

#nav_myImage{
  width: 5rem;
  height: 5rem;
}

#header_sectionLeft :nth-child(2){
  width: 1.2rem;
  height: 1.2rem;
  margin-top: .5rem;
}

.media_sm{
  width: 2rem;
  height: 2rem;
}

#div_socialmedia :nth-child(6){
  filter: invert(1);
}

.media_projects {
  height: 50%;
  width: 50%;
  filter:drop-shadow(0rem -1rem 3rem white )
}

/* #endregion */

/* #region bonus jobs and ideas for future */
/*
todo  default
*/
/* #endregion */